body{
	background-color:mistyrose;
}
img{
	width:300px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}
ul li{
	float: left;
}
ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}
img:hover{
	border:dotted white 5px;
	width: 325px;
}

h2 {
  color: white;
}

h2 {
  letter-spacing: 3px;
}
h2 {
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 25px purple, 0 0 5px red;
}
h2 {
  font-family: "Lucida Console";
}
